{% extends "base.html" %}
{% load url from future %}
{% block content %}

    <div class="container"> 
	<div class="row">
		<div class="btn-group">
  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
    粉絲團 <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
<li><a href="/monitor/?page=209251989898">麗嬰房 媽咪同學會</a></li>
<li><a href="/monitor/?page=296303767271">幼教粉絲專頁</a></li>
<li><a href="/monitor/?page=411046232253913">育兒大小事</a></li>
<li><a href="/monitor/?page=319186521484350">懷孕大小事</a></li>
<li><a href="/monitor/?page=598315443627319">芊芊小咪寶</a></li>
<li><a href="/monitor/?page=362216238522">新手爸媽勸敗團</a></li>
<li><a href="/monitor/?page=155477534498525">媽媽經</a></li>
<li><a href="/monitor/?page=191066727593516">好媳婦省錢團</a></li>
<li><a href="/monitor/?page=614665685252676">My nuno</a></li>
<li><a href="/monitor/?page=518864824797451">Open for kids</a></li>
<li><a href="/monitor/?page=148722908483450">Nac Nac</a></li>
<li><a href="/monitor/?page=139345196140926">OshKosh/ Carter's</a></li>
<li><a href="/monitor/?page=169299433126237">麗嬰房觀光工廠采衣館</a></li>
<li><a href="/monitor/?page=167038316775699">邊境法式點心坊</a></li>
<li><a href="/monitor/?page=131074287040243">寶貝兔親子牙醫診所</a></li>
<li><a href="/monitor/?page=475566682559945">小咪寶</a></li>
<li><a href="/monitor/?page=348527915316017">小咪寶的每一天</a></li>
<li><a href="/monitor/?page=129029797286279">鬱金香童飾城堡＊～手作緞帶材料.蝴蝶結</a></li>
<li><a href="/monitor/?page=586784241439962">親子學習樂</a></li>
<li><a href="/monitor/?page=135084993203916">BabyHome寶貝家庭親子網</a></li>
<li><a href="/monitor/?page=433317256752909">瑪莉桃桃</a></li>
<li><a href="/monitor/?page=416216968426055">小魚散步。繪本。咖啡。Books & Cafe</a></li>
<li><a href="/monitor/?page=341620502649564">怪獸小學堂 創意料理派對餐廳</a></li>
<li><a href="/monitor/?page=182576165149857">名媛婦幼用品專賣店</a></li>
<li><a href="/monitor/?page=167116946688787">丁丁藥局</a></li>
<li><a href="/monitor/?page=237446743049832">愛的世界 小熊親子團</a></li>
<li><a href="/monitor/?page=187421241309456">娃娃世界童裝</a></li>
<li><a href="/monitor/?page=121151784694458">娃娃世界鳳山婦幼精品館</a></li>
<li><a href="/monitor/?page=207857659226832">娃娃世界婦幼精品館</a></li>
<li><a href="/monitor/?page=247771685294517">娃娃世界富國店</a></li>
<li><a href="/monitor/?page=105064222931829">大統新世紀-娃娃世界</a></li>
<li><a href="/monitor/?page=316821618478062">四寶媽咪&飛飛姨</a></li>
<li><a href="/monitor/?page=241947492622184">媽咪最推薦</a></li>
<li><a href="/monitor/?page=142179675884434">俏媽咪親子生活館</a></li>
<li><a href="/monitor/?page=141592812610465">媽咪寶貝情報站</a></li>
<li><a href="/monitor/?page=282576301762911">懷孕媽咪知識團</a></li>
<li><a href="/monitor/?page=208898775876925">選出最愛的麗嬰房DIY創意掌心鞋！我覺得我會抽到一雙耶！|發燒好康</a></li>
<li><a href="/monitor/?page=222374807844875">愛貝比婦幼生活館</a></li>
<li><a href="/monitor/?page=152486534850394">LES ENPHANTS PLUS 兒童時尚名店</a></li>
<li><a href="/monitor/?page=440694596012148">三姊弟甜品點心坊</a></li>
<li><a href="/monitor/?page=169748515872">嬰兒與母親 懷孕生產情報站</a></li>
<li><a href="/monitor/?page=155010791222983">二手嬰兒用品交流團</a></li>
<li><a href="/monitor/?page=114923575198147">媽咪小寶貝粉絲團</a></li>
<li><a href="/monitor/?page=506422169398175">十方之愛兒童發展資源館</a></li>
<li><a href="/monitor/?page=145649977189">7-ELEVEN</a></li>
<li><a href="/monitor/?page=279264471269">寶寶日記  BabyDiary</a></li>
<li><a href="/monitor/?page=132622800160756">天才領袖感覺統合兒童發展中心</a></li>
<li><a href="/monitor/?page=134469309158">媽媽寶寶-懷孕、生產、育兒</a></li>
<li><a href="/monitor/?page=217633471595956">好媽媽懷孕寶寶交流網</a></li>  
</ul>
</div>
	</div>
    </div>
    <br>
    <div class="container">

            {% for id in feed %}
                <div class="row">
                <div class="alert alert-success" role="alert">{{ forloop.counter }}</div>
                <div class="col-md-12">
                    <div class="fb-post"
                         data-href="https://www.facebook.com/{{ id.0 }}/posts/{{ id.1 }}"
                         data-width="500">
                    </div>
                </div>
                <br>
                </div>
            {% endfor %}

    </div>

    <div id="fb-root"></div>
    <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.2";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

{% endblock %}
